---
import HamburgerBtn from "../Hamburger-btn.astro";
import Button from "./Button.astro";

const bookmark_url = import.meta.env.BOOKMARK;
---

<script>
const hamburgerBtns = document.querySelectorAll('.hamburger-btn');
const header = document.getElementById('header');

hamburgerBtns.forEach( hamburgerBtn => {

  hamburgerBtn?.addEventListener('click', () => {
    
    hamburgerBtns.forEach( hamburgerBtn => {
      hamburgerBtn?.classList.toggle('active');
    });
    
    header?.classList.toggle('nav-open');
  });
})
</script>

<header id="header">
  <div class="container-lg h-10 mt-12 flex flex-row justify-between items-center">

    <!-- Logo-light -->
    <a id="light-logo" href="/" class="opacity-100 duration-300">
      <picture class="h-min">
        <img src={ `${bookmark_url}/logo-bookmark.svg` } alt="Bookmark logo">
      </picture>
    </a>

    <!-- hamburguer-btn -->
    <div id="light-hamburguer" class="md:hidden opacity-100 duration-300">
      <HamburgerBtn wide="wide" />
    </div>

    <!-- Movile-navigation -->
    <div id="mobile-navigation" class="bg-[--veryDarkBlue] fixed top-0 left-0 bottom-0 righ t-0 w-full h-full opacity-0 -z-10 md:hidden">
      <div class="px-6">

        <header class="mt-12 h-10 flex flex-row justify-between items-center">
          <!-- logo-dark -->
          <a href="/" class="block">
            <picture class="h-min">
              <img src={ `${bookmark_url}/logo-bookmark-footer.svg` } alt="Bookmark logo">
            </picture>
          </a>

          <!-- hamburguer-btn -->
          <div class="md:hidden">
            <HamburgerBtn color="white" wide="wide" />
          </div>
        </header>

        <nav class="mt-4">
          <ul class="text-white text-center divide-y divide-gray-500 
          [&>li]:font-medium [&>li]:uppercase [&>li]:py-3 hover:[&>li>a]:text-[--softRed]">
            <li><a href="#features">Features</a></li>
            <li><a href="#download">Download</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </nav>

      </div>
    </div>

    <!-- Desktop-navigation -->
    <nav class="hidden md:block">
      <ul class="flex flex-row items-center gap-10 text-gray-400 
      [&>li]:uppercase hover:[&>li]:text-[--softRed]">
        <li><a href="#features">Features</a></li>
        <li><a href="#download">Download</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li>
          <Button color="red" size="large">
            <p class="uppercase">Login</p>
          </Button>
        </li>
      </ul>
    </nav>    

  </div>
</header>

<style>
header.nav-open #light-logo,
header.nav-open #light-hamburguer {
  opacity: 0;
}

header.nav-open #mobile-navigation {
  opacity: 90%;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}

header:not(.nav-open) #mobile-navigation {
  transition: opacity 0.3s ease-in-out, z-index 0.1s ease-in-out 0.3s;
}
</style>