---
const loopstudios_url = import.meta.env.LOOPSTUDIOS;

const desktop_image = `${loopstudios_url}/desktop`;
const mobile_image = `${loopstudios_url}/mobile`;

interface Props {
  link: string;
  title: string;
}

const { link, title } = Astro.props;
---

<article class="cursor-pointer relative group overflow-hidden">
  <div class="aspect-[5/2] md:aspect-[4/7]">
    
    <!-- image -->
    <picture>
      <source media="(min-width: 768px)" srcset={ `${ desktop_image }${ link }` } />
      <img 
        class="w-full h-full object-cover object-center duration-200 group-hover:scale-110" 
        alt={ title } 
        src={ `${ mobile_image }${ link }` }
      >
    </picture>
  
    <!-- image-curtain -->
    <div class="absolute top-0 bottom-0 left-0 right-0 
    from-0% bg-gradient-to-t from-black top-10% 
    group-hover:bg-none group-hover:bg-white/60"></div>
  
    <!-- image-title -->
    <h3 class="text-white josefine text-[26px] absolute uppercase font-light w-1/2
    bottom-4 left-7 md:bottom-8 md:left-8
    group-hover:text-black group-hover:scale-110 duration-200">
      { title }
    </h3>

  </div>
</article>
