---
const loopstudios_url = import.meta.env.LOOPSTUDIOS;
---

<footer class="bg-black pt-9 pb-20">
  <div class="container-md flex flex-col md:flex-row justify-between items-center space-y-10 md:space-y-0">

    <!-- logo & navigation -->
    <div class="text-white space-y-10 md:space-y-2">
      <!-- Logo -->
      <a href="/">
        <div class="w-[192px] h-[32px] mx-auto md:mx-0">
          <img class="w-full" src={ `${ loopstudios_url }/logo.svg` } alt="Logo">
        </div>
      </a>
      
      <!-- Navigation -->
      <nav>
        <ul class="flex flex-col items-center md:items-start md:flex-row gap-7 md:gap-5">
          <li>
            <a href="#" class="alata nav-item">About</a>
          </li>
          <li>
            <a href="#" class="alata nav-item">Careers</a>
          </li>
          <li>
            <a href="#" class="alata nav-item">Events</a>
          </li>
          <li>
            <a href="#" class="alata nav-item">Products</a>
          </li>
          <li>
            <a href="#" class="alata nav-item">Support</a>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- social media & rights -->
    <div class="space-y-4">
      <div class="flex flex-row justify-center md:justify-start gap-4">
        <div class="icon">
          <img class="w-full" src={ `${ loopstudios_url }/icon-facebook.svg` } alt="Facebook icon">
        </div>
        <div class="icon">
          <img class="w-full" src={ `${ loopstudios_url }/icon-twitter.svg` } alt="Twitter icon">
        </div>
        <div class="icon">
          <img class="w-full" src={ `${ loopstudios_url }/icon-pinterest.svg` } alt="Pinterest icon">
        </div>
        <div class="icon">
          <img class="w-full" src={ `${ loopstudios_url }/icon-instagram.svg` } alt="Instagram icon">
        </div>
      </div>
      <p class="josefin font-light text-gray-400 tracking-wider">© 2022 Loopstudios. All Rights Reserved</p>
    </div>

  </div>
</footer>

<style>
.icon {
  @apply w-6 cursor-pointer flex items-center justify-center transition-all duration-200 hover:scale-[0.85] hover:opacity-50;
}
.nav-item {
  @apply text-sm font-medium tracking-wide hover:underline hover:underline-offset-8;
}
</style>