---
import Nav from "./Nav.astro";

const loopstudios_url = import.meta.env.LOOPSTUDIOS;
---

<div id="hero" class="relative h-screen md:h-[95vh]">
  <!-- mobile-background -->
  <img
    alt="Hero Mobile"
    class="sm:hidden absolute -z-10 top-0 left-0 w-full h-screen object-cover object-center"
    src={ `${loopstudios_url}/mobile/image-hero.jpg` }
  >

  <!-- desktop-background -->
  <img
    alt="Hero Desktop"
    class="hidden sm:block absolute -z-10 top-0 left-0 w-full h-screen object-cover object-center md:h-[95vh]"
    src={ `${loopstudios_url}/desktop/image-hero.jpg` }
  >

  <!-- hero-overlay -->
  <section class="pt-12 container-md text-white flex flex-col h-full">

    <!-- Header -->
    <header class="flex flex-row justify-between items-center">
      <!-- Logo -->
      <a href="/">
        <img src={ `${loopstudios_url}/logo.svg` } alt="">
      </a>

      <!-- Navigation -->
      <Nav items={[
        { name: 'About', link: `${ loopstudios_url }` },
        { name: 'Careers', link: `${ loopstudios_url }` },
        { name: 'Events', link: `${ loopstudios_url }` },
        { name: 'Products', link: `${ loopstudios_url }` },
        { name: 'Support', link: `${ loopstudios_url }` },
      ]}/>
    </header>

    <!-- Branding -->
    <div class="grow flex flex-col items-start justify-center">
      <h1 class="border-2 uppercase leading-none p-4 md:p-8 text-[40px] sm:text-[55px] md:text-[65px] tracking-wider font-light ">
        IMPRESSIVE<br />EXPERIENCES<br />THAT DELIVER
      </h1>
    </div>
  </section>
</div>