---
import Nav from "./Nav.astro";

const loopstudios_url = import.meta.env.LOOPSTUDIOS;
const bgMobile = `url(${loopstudios_url}/mobile/image-hero.webp)`;
const bgDesktop = `url(${loopstudios_url}/desktop/image-hero.webp)`;
---

<div id="hero">

  <!-- hero-overlay -->
  <div class="py-12 container-md text-white flex flex-col h-full">

    <!-- Header -->
    <header class="flex flex-row justify-between items-center">
      <!-- Logo -->
      <a href="/">
        <div class="w-[192px] h-[32px]">
          <img src={ `${loopstudios_url}/logo.svg` } alt="Loopstudios logo">
        </div>
      </a>

      <!-- Navigation -->
      <Nav items={[
        { name: 'About', link: `${ loopstudios_url }` },
        { name: 'Careers', link: `${ loopstudios_url }` },
        { name: 'Events', link: `${ loopstudios_url }` },
        { name: 'Products', link: `${ loopstudios_url }` },
        { name: 'Support', link: `${ loopstudios_url }` },
      ]}/>
    </header>

    <!-- Branding -->
    <div class="my-48 md:my-32 flex flex-col items-start justify-center">
      <h1 class="border-2 uppercase leading-none p-5 md:px-12 md:py-10 text-[40px] sm:text-[55px] md:text-6xl font-light ">
        IMPRESSIVE<br />EXPERIENCES<br />THAT DELIVER
      </h1>
    </div>
  </div>
</div>

<style define:vars={{ bgMobile, bgDesktop }}>
@media (max-width: 767px) {
  #hero {
    background-image: var(--bgMobile);
  }
}
@media (min-width: 768px) {
  #hero {
    background-image: var(--bgDesktop);
  }
}
#hero {
  background-repeat: no-repeat;
  background-size: cover;
}
</style>