---
import HamburgerBtn from '../Hamburger-btn.astro';

interface Props {
  items: Items[];
}

interface Items {
  name: string;
  link: string;
}

const { items } = Astro.props
---

<script>
const hamburguerBtn = document.getElementById('hamburger-btn');
const mobileNavigation = document.getElementById('mobile-navigation');

hamburguerBtn?.addEventListener('click', () => {
  hamburguerBtn.classList.toggle('active');
  mobileNavigation?.classList.toggle('isOpen');
});
</script>

<div>
  <!-- hamburguer-btn -->
  <div id="hamburger-container" class="relative md:hidden z-20">
    <HamburgerBtn color='white' />
  </div>

  <!-- mobile-navigation -->
  <nav id="mobile-navigation" class="absolute bg-black top-0 -left-full w-full h-screen 
  md:hidden duration-300">
    <ul class="mt-40 ml-10 space-y-2">
      {
        items && items.map( item => 
        <li class="josefin uppercase text-lg hover:text-pink-500 font-light">
          <a href={ item.link }>
            { item.name }
          </a>
        </li>
        )
      }
    </ul>
  </nav>



  <!-- desktop-navigation -->
  <nav class="hidden md:block">
    <ul class="flex flex-row gap-8 items-center">
      {
        items && items.map( item => 
        <li class="alata font-bold flex flex-col items-center group">
          <a href={ item.link }>
            { item.name }
          </a>
          <div class="w-7 border-b border-white opacity-0 group-hover:opacity-100 duration-200"></div>
        </li>
        )
      }
    </ul>
  </nav>
</div>

<style>
#mobile-navigation.isOpen {
  display: block;
  left: 0;
}
</style>