---
import Layout from "../layouts/Bookmark.astro";
import Button from '../components/bookmark/Button.astro';
import FeaturesSelector from "../components/bookmark/FeaturesSelector.vue";
import DownloadCard from "../components/bookmark/DownloadCard.astro";

import { features } from "../data/bookmark.data";

const bookmark_url = import.meta.env.BOOKMARK;
---
<Layout title="Bookmark Website">

  <!-- HERO-SECTION -->
  <section class="mt-20 md:mt-32">
    <div class="container-lg flex flex-col items-center md:flex-row">
      <!-- Hero-image -->
      <picture class="md:w-1/2 md:order-2">
        <img src={ `${bookmark_url}/illustration-hero.svg` } alt="Hero image">
      </picture>
      <!-- Hero-content -->
      <div class="md:w-1/2">
        <div class="space-y-8 lg:w-10/12 text-center md:text-left">
          <h1 class="font-semibold text-3xl md:text-6xl">
            A Simple Bookmark Manager
          </h1>
          <p class="text-gray-400 texl-xl md:text-2xl lg:w-10/12">
            A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.
          </p>
          <!-- Action buttons -->
          <div class="flex flex-col gap-3 md:flex-row md:gap-4">
            <Button wide="wide" fontWeight="bold">
              <p class="capitalize">Get it on Chrome</p>
            </Button>
            <Button color="gray" wide="wide" fontWeight="bold">
              <p class="capitalize">Get it on Firefox</p>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES-SECTION -->
  <section class="mt-20">
    <div class="container-lg">

      <!-- section-header -->
      <header class="max-w-md mx-auto text-center space-y-4">
        <h2 class="text-4xl font-bold">
          Features
        </h2>
        <p class="text-[--grayishBlue]">
          Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between your devices so you can access them on the go.
        </p>
      </header>

      <!-- features-selector -->
      <div class="mt-12">
        <FeaturesSelector features={ features } client:visible >
          <Button slot="button" fontWeight="bold">
            <p>More Info</p>
          </Button>
        </FeaturesSelector>
      </div>

    </div>
  </section>

  <!-- DOWNLOAD-SECTION -->
  <section id="download" class="mt-36">

      <!-- section-header -->
      <header class="max-w-md mx-auto text-center space-y-4">
        <h2 class="text-3xl font-bold">
          Download the extension
        </h2>
        <p class="text-[--grayishBlue]">
          We've got more browsers in the pipeline. Please do let us know if you've got a favourite you'd like us to prioritize.
        </p>
      </header>

      <!-- download-cards -->
      <div class="relative container-md my-20 flex flex-col md:flex-row gap-8">

        <div class="w-full">
          <DownloadCard
            image={ `${bookmark_url}/logo-chrome.svg` }
            imageDescription="Chrome logo"
            title="Add to Chrome"
            version="Minimum version 62"
          />
        </div>
        <div class="relative w-full top-5">
          <DownloadCard
            image={ `${bookmark_url}/logo-firefox.svg` }
            imageDescription="Firefox logo"
            title="Add to Firefox"
            version="Minimum version 55"
          />
        </div>
        <div class="relative w-full top-10">
          <DownloadCard
            image={ `${bookmark_url}/logo-opera.svg` }
            imageDescription="Opera logo"
            title="Add to Opera"
            version="Minimum version 46"
          />
        </div>
      </div>

  </section>

</Layout>

<style>
.container-md {
  @apply px-6 mx-auto;
}
@media (min-width: 420px) {
  .container-md {
    max-width: 420px;
  }
}
@media (min-width: 768px) {
  .container-md {
    @apply max-w-5xl px-0;
  }
}
</style>