---
import Layout from "../layouts/Bookmark.astro";
import Button from '../components/bookmark/Button.astro';

const bookmark_url = import.meta.env.BOOKMARK;
---
<script>
const featureBtn_1 = document.getElementById('feature-1');
const featureBtn_2 = document.getElementById('feature-2');
const featureBtn_3 = document.getElementById('feature-3');

console.log({ featureBtn_1 });
console.log({ featureBtn_2 });
console.log({ featureBtn_3 });
</script>

<Layout title="Bookmark Website">
  <!-- HERO-SECTION -->
  <section class="mt-20 md:mt-32">
    <div class="container-lg flex flex-col items-center md:flex-row">
      <!-- Hero-image -->
      <picture class="sm:w-1/2 md:order-2">
        <img src={ `${bookmark_url}/illustration-hero.svg` } alt="Hero image">
      </picture>
      <!-- Hero-content -->
      <div class="sm:w-1/2">
        <div class="space-y-8 lg:w-10/12 text-center md:text-left">
          <h1 class="font-semibold text-3xl md:text-6xl">
            A Simple Bookmark Manager
          </h1>
          <p class="text-gray-400 texl-xl md:text-2xl lg:w-10/12">
            A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.
          </p>
          <!-- Action buttons -->
          <div class="flex flex-col gap-3 md:flex-row sm:gap-4">
            <Button wide="wide" fontWeight="bold">
              <p class="capitalize">Get it on Chrome</p>
            </Button>
            <Button color="gray" wide="wide" fontWeight="bold">
              <p class="capitalize">Get it on Firefox</p>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES-SECTION -->
  <section id="features" class="my-20">
    <div class="container-lg">

      <!-- section-header -->
      <header class="max-w-md mx-auto text-center space-y-4">
        <h2 class="text-4xl font-bold">
          Features
        </h2>
        <p class="text-[--grayishBlue]">
          Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between your devices so you can access them on the go.
        </p>
      </header>

      <!-- feature-selector -->
      <nav class="mt-12 max-w-xl mx-auto md:border-b">
        <div class="flex flex-row justify-between">
          <button id="feature-1" class="feature-selector-item">
            <p>Simple bookmarking</p>
          </button>
          <button id="feature-2" class="feature-selector-item">
            <p>Speedy searching</p>
          </button>
          <button id="feature-3" class="feature-selector-item">
            <p>Easy sharing</p>
          </button>
        </div>
      </nav>

    </div>
  </section>

</Layout>

<style>
.feature-selector-item {
  @apply w-40 py-5 capitalize text-center text-gray-800 hover:text-[--softRed];
}
</style>