---
import Layout from "../layouts/Loopstudios.astro";
import Card from "../components/loopstudios/Card.astro"

const loopstudios_url = import.meta.env.LOOPSTUDIOS;
---

<Layout title="loopstudios">
  
  <!-- Best-branding -->
  <section class="space-y-5 mt-32 md:space-y-0 relative">
    <div class="aspect-[3/2] md:w-8/12">
      <picture>
        <source media="(min-width: 769px)" srcset=`${loopstudios_url}/desktop/image-interactive.webp`>
        <img 
          class="w-full h-full object-cover" 
          src=`${loopstudios_url}/mobile/image-interactive.webp` 
          alt="Image interactive"
        >
      </picture>
    </div>
    
    <article class="text-center md:text-left space-y-5 md:absolute bottom-0 right-0 md:pt-10 md:pl-10 md:bg-white md:w-8/12 lg:w-6/12 lg:pt-20 lg:pl-20">
      <h2>THE LEADER IN INTERACTIVE VR</h2>
      <p class="alata font-light text-sm leading-relaxed text-black/50">Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand.</p>
    </article>
  </section>
  
  <!-- Our-creations -->
  <section class="mt-32 mb-20 md:mb-32">
    <!-- Title -->
    <div class="flex md:flex-row md:justify-between md:items-center">
      <h2 class="mx-auto md:mx-0">OUR CREATIONS</h2>
      <button class="uppercase border-2 border-black font-bold px-10 pt-4 pb-3 tracking-widest hover:bg-black hover:text-white hidden md:block duration-200">
        SEE ALL
      </button>
    </div>

    <!-- Grid-cards -->
    <section class="flex flex-col md:grid md:grid-cols-4 gap-8 mt-20">
      <Card title="Deep earth" link="/image-deep-earth.webp" />
      <Card title="Night arcade" link="/image-night-arcade.webp" />
      <Card title="Soccer team vr" link="/image-soccer-team.webp" />
      <Card title="The grid" link="/image-grid.webp" />
      <Card title="From up above vr" link="/image-from-above.webp" />
      <Card title="Pocket borealis" link="/image-pocket-borealis.webp" />
      <Card title="The curiosity" link="/image-curiosity.webp" />
      <Card title="Make it fisheye" link="/image-fisheye.webp" />
    </section>

    <!-- CTA -->
    <button class="uppercase font-bold border-2 border-black mt-10 w-full pt-4 pb-3 tracking-widest hover:bg-black hover:text-white md:hidden duration-200">
      SEE ALL
    </button>
  
  </section>
</Layout>