---
interface Props {
  image: string;
  title: string;
}

const { image, title } = Astro.props;
---

<figure class="max-w-xs w-screen border-2 border-[--border-color]">
  <div class="aspect-[2/1] w-full overflow-hidden">
    <img 
      class="object-cover object-top"
      src={ image } 
      alt={ title } 
    />
  </div>
  <figcaption class="p-4 bg-[--bg-color] space-y-2">
    <h1 class="text-lg text-center font-semibold text-white tracking-wide">
      { title }
    </h1>
  </figcaption>
</figure>

<style>
:root {
  --bg-color: #23262D;
  --border-color: #2F333A;
}
</style>