---
import Button from './Button.astro';
---

<div class="bg-[--darkViolet] p-10 rounded-lg flex flex-col gap-4 md:flex-row md:items-center">
  <input
    type="text"
    placeholder="Shorten a link here"
    class="grow rounded-lg pl-4 h-12 placeholder:text-yellow-500"
  >
  <Button 
    text="Shorten it!" 
    type="square" />
</div>
