---
import BackArrow from '../components/Back-arrow.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Bento quotes app developed with Astro + Tailwind CSS" />
		<meta name="viewport" content="width=device-width" />
		<!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
		<meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

		<title>{title}</title>
	</head>
	<body id="bento" class="relative bg-gray-200">
    <div class="fixed z-20 top-5 left-5">
      <a href="/">
        <BackArrow />
      </a>
    </div>
		<slot />
	</body>
</html>

<style is:global>
.b1 { border: solid 1px red; }
.b2 { border: solid 1px blue; }
.b3 { border: solid 1px green; }
.b4 { border: solid 1px yellow; }
.b5 { border: solid 1px orange; }
.b5 { border: solid 1px purple; }

#bento * {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
</style>
