---
import Header from '../components/bookmark/Header.astro';
import Footer from '../components/bookmark/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Bookmark website developed with Astro + Tailwind CSS" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/bookmark/favicon-32x32.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <!-- Logo -->
    <link rel="preload" href="/bookmark/logo-bookmark.svg" as="image" type="image/svg+xml">

    <!-- Font -->
    <link rel="preload" href="/bookmark/fonts/Rubik-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/bookmark/fonts/Rubik-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/bookmark/fonts/Rubik-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">

    <!-- Main image -->
    <link rel="preload" href="/bookmark/illustration-hero.svg" as="image" type="image/svg+xml">

	</head>

	<body id="bookmark">
    <Header />

    <slot />

    <Footer />
	</body>

</html>

<style is:global>
:root {
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
}

.b1 { border: solid 1px red; }
.b2 { border: solid 1px blue; }
.b3 { border: solid 1px green; }
.b4 { border: solid 1px yellow; }
.b5 { border: solid 1px orange; }
.b5 { border: solid 1px purple; }

@font-face {
  font-family: 'Rubik';
  src: url("/bookmark/fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik';
  src: url("/bookmark/fonts/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: 'Rubik';
  src: url("/bookmark/fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
}

#bookmark {
  font-family: 'Rubik', sans-serif;
}

#bookmark .container-lg {
  @apply container mx-auto px-6 2xl:max-w-[1440px];
}
</style>
