---
import Footer from '../components/clipboard/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Clipboard landpage developed with Astro + Tailwind CSS"/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/clipboard/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preload" href="/clipboard/logo.svg" as="image" type="image/svg+xml">
    <link rel="preload" href="/clipboard/fonts/BaiJamjuree-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/clipboard/fonts/BaiJamjuree-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/clipboard/fonts/BaiJamjuree-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

	</head>
	<body id="clipboard">
		<slot />
    <Footer />
	</body>
</html>

<style is:global>
:root {
  --primary-text-color: #4C545D;
  --secondary-text-color: #9FABB2;
}

.b1 { border: solid 1px red; }
.b2 { border: solid 1px blue; }
.b3 { border: solid 1px green; }
.b4 { border: solid 1px yellow; }
.b5 { border: solid 1px orange; }
.b5 { border: solid 1px purple; }

@font-face {
  font-family: 'Bai Jamjuree';
  src: url("/clipboard/fonts/BaiJamjuree-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url("/clipboard/fonts/BaiJamjuree-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url("/clipboard/fonts/BaiJamjuree-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url("/clipboard/fonts/BaiJamjuree-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url("/clipboard/fonts/BaiJamjuree-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url("/clipboard/fonts/BaiJamjuree-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}


#clipboard {
  font-family: 'Bai Jamjuree', sans-serif;
}

#clipboard h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--primary-text-color);

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

#clipboard h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-text-color);

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}

#clipboard .p-lg {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary-text-color);

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

#clipboard .p-md {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--secondary-text-color);

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

#clipboard .p-sm {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}

@media (max-width: 768px) {
  #clipboard .p-sm {
    font-size: .8rem;
  }
}
</style>
